
html {
	margin: 0 !important;
}

body {
	background: #FCFCFC;
}

a:link {
	text-decoration: none;
}

.GO_badge {
	font-size: 15px;
	border-radius: 20px;
	font-weight: 420;
	font-family: 'Roboto', Arial;	
}

.GO_author img {
	border-radius: 100px !important;
}

.GO_author span {
	font-weight: bold;
}

#GO_Konteyner {
	/*background: #f2f2f2;*/
	/*border-left: 10px solid #f2f2f2;*/
	/*border-right: 10px solid #f2f2f2;*/
}

#GO_PostDestacado article {
	min-height: 400px;
	background: #00000030;
}

#GO_PostDestacado h3 {
	font-size: 21px;
	font-family: 'Roboto', Arial;
	text-shadow: 0px 0px 3px #00000075;
	letter-spacing: 0.7px;
}

#GO_PostDestacado .badge {
	font-size: 15px;
}

#GO_PostDestacado .ImagemDestacada {
	position: absolute;
	height: 100%;
	width: 100%;
	filter: brightness(70%);
	z-index: 18;
}

/*#GO_PostDestacado a:hover .ImagemDestacada {
	filter: brightness(90%);
}*/

#GO_PostDestacado .info_area {
	position: absolute;
	width: 60%;
	bottom: 10px;
}

#GO_PostDestacado .data {
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 19;
}

#GO_PostDestacado .data p {
	opacity: 0.7;
	letter-spacing: 0.5px;
}


#GO_ExtraCabecalho h6 {
	font-size: 13px;
	color: white;
	opacity: 0.9;
}

.footer_widget img {
	filter:;
}

#GO_NavigationMenu h4 span {
	border-color: #343a4099 !important;
	border-width: 3px !important;
}

#GO_NavigationMenu ul li:first-of-type a {
	color: #e44444 !important;
	font-weight: bold !important;
}

#GO_NavigationMenu ul li a {
	font-weight: 450;
	color: #343a40;
	font-size: 18px;
	opacity: 0.75;
	padding: 0;
}

#GO_NavigationMenu ul li {
	padding: 10px 15px;
}

@media (max-width: 768px) { 
	#GO_NavigationMenu ul li {
		padding: 10px;
	}
}

#GO_NavigationMenu ul li a:hover {
	opacity: 1;
}

#GO_BlogPost span a {
	color: #FFF;
}

#GO_BlogPost span li {
	list-style-type: none !important;
}

#GO_BlogPost span ul.post-categories {
	margin: 0 !important;
	padding: 5px !important;
}


#GO_BlogPost  {
	width: 330px;
	max-height: 500px !important;
	min-height: 300px !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
  	background-size: cover !important;
  	background-color: #ff4355 !important;
}

#GO_BlogPost .extra_content {
	position: absolute;
	top: 0;
	left: 0;
}

/*#GO_BlogPost .conteudo_thumb:hover h3 div,
#GO_BlogPost .conteudo_thumb:hover .info_area {
	display: none !important;
}

#GO_BlogPost .conteudo_thumb:hover h3 small {
	display: block !important;
	align-items: center !important;
}*/

#GO_BlogPost .conteudo_thumb h3 {
	position: absolute;
	bottom: -5px;
	left: 0px;
	font-size: 25px;
	font-family: 'Roboto', Arial;
	text-shadow: 2px 2px 0px #00000075;
}

#GO_BlogPost .conteudo_thumb h3 small {
	font-size: 18px !important;
}

#GO_BlogPost .info_area {
	position: absolute;
	width: 88%;
	bottom: 14px;
}

#GO_BlogPost .extra_content {
	color: #333;
	font-family: 'Nunito Sans', Arial;
	font-size: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#GO_BlogPost .extra_content p:first-letter {
	font-size: 150%; 
}

#GO_BlogPost:hover .extra_content {
	display: block !important;
	opacity: 1;
	
}

#GO_Cabecalho {
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-color: #CCC !important;
}

#GO_Cabecalho #GO_MenuCabecalho {
	position: relative;
}

#GO_Cabecalho #GO_MenuCabecalho ul li a {
	color: white;
}

#GO_MenuCabecalho .loginNav li {
	opacity: 0.8;
}

#GO_MenuCabecalho .loginNav li:hover {
	opacity: 1;
}

.sidebar_widget {
	font-family: 'Noto Sans', Arial;
}

.sidebar_widget ul li a {
	display: flex !important;
	text-decoration: none;
	color: #FFF;
	width: 90%;
	font-weight: bold;
	padding: 0 10px;
	opacity: 0.8;
	align-items: center !important;
}

.sidebar_widget ul li a:hover {
	opacity: 1;
}


.sidebar_widget ul {
	list-style-type: none !important;
	padding: 0 !important;
}

.sidebar_widget ul li {
	margin: 10px 0;
	padding: 6px 0;
	/*border-top: 1px solid #00000090;
	border-bottom: 1px solid #00000090;*/
}

.sidebar_widget h5 {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

footer .logoFooter {
	opacity: 0.7;
}

footer .texto {
	font-family: 'Roboto', Arial;
}

aside .SideBar{
	height: 100vh;
	overflow-x: hidden !important;
}

.SideBar::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);*/
	background-color: transparent;
}

.SideBar::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.SideBar::-webkit-scrollbar-thumb
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.125);*/
	background-color: #c7303e;
}